--update student set tot=mark1+mark2+mark3 where sno>1004
--update student set tot=mark1+mark2+mark3 
--delete from student where sno=1005
--select * from student
--select top 50 percent * from student
--insert into student (sname) values('ganesh')
select * from student
--select * from student where sname like '%esh'
--select * from student where sname like '%s%'
select * from student where sname like '__a%'